.cont_main_error{
    width: 100%;
    height: 100vh;
    /* background: red; */
    display: flex;
}
.cont_int_err{
    height: 100vh;
}
/* divisores grandes */
.cont_err1{
    width: 15%;
    /* background: green; */
    text-align: center;
}
.cont_err2{
    width: 35%;
    /* background: orangered; */
}
.cont_err3{
    width: 50%;
    /* background: goldenrod; */
    text-align: end;
    padding-right: 10%;
}
/* fin divisores grandes */
.cont_int_er1{
    height: 25vh;
}
.cont_int_er2{
    text-align: center;
}
.img_err{
    transform: scale(1.2);
}

.titulo_er_main{
    color: #3f3b51;
    font-size: 92px;
    font-weight: bold;
    margin-top: 40%;
    letter-spacing: 0.15em;
    margin-bottom: 5%;
} 
.titulo_er_alt{
    color: #e62e4a;
    font-size: 30px;
}
.tit_alt_er{
    font-size: 40px;
    color: #e72542;
    font-weight: bold;
}
.btn_err{
    color: #fff !important;
    width: 40%;
    background-color: #c22524 !important;
    margin-top: 4%;
    font-size: 27px;
    font-weight: bold;
}
.img_err2{
    transform: scale(0.7);
}
/* PAGINAS INTERNAS */
/* Movil */
.main_cont_pimovil{
    width: 100%;
}
.main_conpi_inf{
    width: 100%;
    display: flex;
    height: 100px;
    margin: 5%;
    margin-bottom: 5%;
    

    /* background-color: red; */
}
.main_int_pi{
    width: 40%;
    height: 100px;
    /* background-color: blue; */
    place-self: center;
}
.main_int_pi>p{
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    height: 100%;
}
.color_ok{
    background-color: red;
    height: auto;
}
/* error 404 */
.nuevolll {
    display: flex;
}
.nuevol {
    width: 20%;
    margin: 0 auto;
    margin-top: 5%;
}
.cont_int_info2>h3{
    box-sizing: border-box;
    font-family: "Playfair Display";
    font-weight: normal;
    line-height: 1.3;
    margin: 0.5rem 0;
    font-size: 1.8rem;
    color: white;
    text-align: center;
}
.ftco-footer p{
    text-size-adjust: 100%;
    font-weight: 400;
    font-family: "Open Sans", Arial, sans-serif;
    text-align: center !important;
    box-sizing: border-box;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 1rem;
    font-size: 0.85rem;
    line-height: 1.6rem;
    color: rgba(255, 255, 255, 0.7);
}
.cont_int_info2 > p,a{
    font-weight: 400;
    font-family: "Open Sans",Arial,sans-serif;
    /* font-size: 0.85rem; */
    line-height: 1.6rem;
    text-align: initial;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    background-color: transparent;
    transition: .3s all ease;
    color: white;
}